<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

</script>
<script>
$(document).ready(function(){
  $(".btn1").click(function(){
    $("#channels").slideUp();
  });
  $(".btn2").click(function(){
    $("#channels").slideDown();
  });
});

$(function() {


$( "#channels" ).tabs();
var currentActive = $( ".selector" ).tabs( "option", "active" );
$( ".selector" ).tabs( "option", "active", 3 );
});
</script>
</head>
<body>



<div id="container">
<div id="Title">
No more "spooby pls" for facebook chat.
<br>
Twitch features coming soon: Multiple streams to choose from, all major FGC Streams included.
<br>
<div id="channels">
 <ul id="tabs">
 <li>STREAM LIST</li>
 <% @streamlist.each do |stream|%>
<li><a href="#channels-<%=stream.id%>"><%=stream.name%></a></li>
 <br>
 <%end%>
</ul>
<% @streamlist.each do |stream|%>
<div id="channels-<%=stream.id%>" style="width:auto;  margin:0px auto;" >
<object type="application/x-shockwave-flash" height="454px" width="744px" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=yanushik" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=<%=stream.url%>&auto_play=true&start_volume=25" /></object><a href="http://www.twitch.tv/<%=stream.url%>" class="trk" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center;"></a>
</div>
<% end %>
</div>

<div id="buttons">
<button class="btn1">Hide Streams</button>
<button class="btn2">Watch Streams</button>
</div>
<br>
</div>
<iframe src="https://kiwiirc.com/client/irc.eversible.com/?nick=<%=@default%>|?#FGC_Chicago" style="border:0; width:100%; height:400px;"></iframe>
