<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/ui-lightness/jquery-ui.css" />

</script>
<script>

  
$(document).ready(function(){
  counter = 0;
  order   = 0;
  var positions = new Array();
  positions.push(3176,3176,3176,3176,3176,2798,2420,2042,1664,1286,908,530,150);
  <% @streamlist.each do |stream|%>
    var v<%=stream.id%> = new Object();
    v<%=stream.id%>["dragged"]= 'false';
     v<%=stream.id%>["firstmove"]= 'false';
     v<%=stream.id%>["firstopen"]="false";
      v<%=stream.id%>["position"];
    $('#channels-<%=stream.id%>').resizable().draggable({cancel : 'object', stack:"div", stop:function(event,ui){v<%=stream.id%>["dragged"] = 'true';if( v<%=stream.id%>["firstmove"]== 'false'){v<%=stream.id%>["firstmove"]='true'; positions.push(v<%=stream.id%>["position"]);}}});
    $('#channels-<%=stream.id%>').on( "dragstop", function( event, ui ) {} );
    $('#channels-<%=stream.id%>').hide();
    $('.channel-<%=stream.id%>').click(function(){
      $('button').attr('disabled',true);
      $('#channels-<%=stream.id%>').toggle(0,function(){
        if ($('#channels-<%=stream.id%>').is(":hidden")){
          if(v<%=stream.id%>["dragged"] == 'false' ){
            
            positions.push(v<%=stream.id%>["position"]);           
            positions.sort(sortNumber);
            positions.reverse();
            
           }
          
           else
           {
           }
          }
        else{  
            if (v<%=stream.id%>["dragged"] == 'false'){        
            
            positions.sort(sortNumber);
            positions.reverse();
             v<%=stream.id%>["position"] = positions.pop();
              $('#channels-<%=stream.id%>').animate({top: v<%=stream.id%>["position"]}); 
                 }
             }
           }
            );$('button').attr('disabled',false);}
            );
            
        
  <%end%>
  varx = 0;  
  
  
  $(".btn1").click(function(){
    $("#channels").toggle('fast',function(){
      if(varx<1)
      {
        $("#chatroom").animate({width:"100%"});
        varx = varx+1;
        document.getElementById('btn').innerHTML = 'Watch Streams';
      }
      else
      {
        varx = varx-1; 
        $("#chatroom").animate({width:"29%"});
        document.getElementById('btn').innerHTML = 'Hide Streams';
      }
    }
  );
    
    
  });

});

function sortNumber(a,b){
  return a-b;
};
</script>
</head>
<body>
 <div id="body">
<div id="Title">
  
  
  <br>
  <% @streamlist.each do |stream|%> 
    <li id="channellist"><button id="channellist"class="channel-<%=stream.id%>" style="background: url(<%=stream.misc%>);background-size:100%;"></button></li>
    
  <%end%>
</ul>
    <p id="buttons">
      <button class="btn1" id="btn">Hide Streams</button>
      
    </p>
</div>

<div id="streamscontainer">  
  
  <div id="channels">

  
  <div id="video">
  <% @streamlist.each do |stream|%>
    <div id="channels-<%=stream.id%>" style="background-color:#EDEDED;position:absolute;width:620px;height: 378px;z-index:4;color:#ffffff; border-bottom-left-radius:10px;">
      <object type="application/x-shockwave-flash"  height="96%" width="100%" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=yanushik" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=<%=stream.url%>&auto_play=true&start_volume=100" /></object>
      <b><p style="vertical-align: bottom; margin-top:-3px; color:#000;font-size:10px;">USE THIS BAR TO MOVE AND RESIZE THE STREAM</p></b>
    </div>
  <% end %>
    </div>
  </div>
</div>
    <iframe id ="chatroom" src="https://kiwiirc.com/client/<%=@servers.sample%>/?nick=<%=@default%>|?#FGC_Chicago" style="border:0; width:30%; height:600px;"></iframe>
   

  </div>